@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="@Url.Content("~/Style/StyleSheet1.css")" type="text/css" />
</head>
<body>
    <div class="heading">
        <div class="headercontent">
            <div class="headerlogo">
                <a style="height:10vh" href="https://lazada.vn"><img class="logopicture" src="~/Style/LogoOnWeb.png" border="0"></a>
            </div>
            <div class="searchbar">
                <div class="containbox">
                    <div class="thebox">
                        <input id="inputstring"  type="text" placeholder="Cho chúng tôi biết bạn muốn gì" />
                    </div>
                    <div class="search">
                        <button id="search"></button>
                    </div>
                </div>
            </div>
            <div class="bookmarks">
                <a style="height:5vh" href="https://lazada.vn"><img class="bookmarkslogo" src="~/Style/Bookmark.png" border="0"></a>
            </div>
            <div class="interest">
                <a style="height:5vh" href="https://lazada.vn"><img class="interestlogo" src="~/Style/interest.png" border="0"></a>
            </div>
            <div class="uac">
                <a style="height:7vh" href="https://lazada.vn"><img class="uaclogo" src="~/Style/uac.png" border="0"></a>
            </div>
        </div>
    </div>
    <br style="line-height:3px" />
    <div class="firstpart">
        <div class="blankspace1"></div>
        <div class="catalogborder">
            <div class="catalog">
                <a href="https://lazada.vn">Đồ công nghệ và phụ kiện</a><br />
                <a href="https://lazada.vn">Thiết bị gia dụng & đồ bếp</a><br />
                <a href="https://lazada.vn">Thời trang</a><br />
                <a href="https://lazada.vn">Sức khỏe & làm đẹp</a><br />
                <a href="https://lazada.vn">Hàng tạp hóa</a><br />
                <a href="https://lazada.vn">Hàng gia dụng & Đời sống</a><br />
                <a href="https://lazada.vn">Thể thao & Du lịch</a><br />
                <a href="https://lazada.vn">Phương tiện & Thiết bị định vị</a>
            </div>
        </div>
        <div class="label1">
            <div class="labelborder">
                <text class="label1txt">
                    Dựa trên mối quan tâm của bạn*
                </text>
            </div>
            <div class="mainlysuggest">
                <img style="height:50vh;width:60vw" src="~/Style/League of Legends (TM) Client 5_13_2018 4_46_10 AM.png" alt="On trend" />
            </div>
        </div>
        <div class="blankspace1"></div>
    </div>
</body>
</html>